@import '../../layouts/variables'
    
.button
    text-decoration: none
    color: $grey2

.green
    color: $green1

.button--solid
    display: inline-block
    background-color: $green1
    box-shadow: 0px 3px 0px 0px $green2
    padding: 15px 20px
    min-width: 140px
    text-align: center
    border-radius: 5px
    color: white

.button--solid:hover
    filter: brightness(0.95)

.button--solid:active
    box-shadow: none
    transform: translateY(3px)