@import '../../layouts/variables'

.menu
    list-style: none
    margin: 0
    padding: 0px 0px
    overflow: hidden

// @media (min-width: 450px)
//     .menu__menu-item
//         animation: slideDown 1s
//         animation-fill-mode: forwards
//         transform: translateY(-100%)
//         &:nth-of-type(1)
//             animation-delay: 0.4s
//         &:nth-of-type(2)
//             animation-delay: 0.6s
//         &:nth-of-type(3)
//             animation-delay: 0.8s          
//         &:nth-of-type(4)
//             animation-delay: 1s

.menu__menu-link
    text-decoration: none
    color: $grey2
    &:hover
        text-decoration: underline

.menu__menu-link--active
    color: $green1
    // font-weight: bold
    text-decoration: none !important
    pointer-events: none
    position: relative


@media screen and (min-width: 300px)
    .menu
        display: flex
        flex-direction: row
        justify-content: flex-end

    .menu__menu-item
        margin-left: 20px
        &:first-of-type
            margin-left: 0px


@media screen and (min-width: 700px)
    .menu__menu-item
        margin-left: 40px