// Generic sidewide styles, variables and helper classes
// This file should be as short as possible to maximise reusability of blocks according to BEM principles

$grey1: #171717
$grey2: #575757
$grey3: #efefef
$grey4: #f6f6f6
$green1: #00C4B5
$green2: #009c90

@import url('https://fonts.googleapis.com/css?family=Exo:400,700')

h1, h2, h3, h4, h5, p, a, span
    font-family: 'Exo', sans-serif

body
    margin: 0

.container
    max-width: 1000px
    margin: 0 auto
    box-sizing: border-box